@page "/login"
@inject IAuthService Auth
@inject NavigationManager Nav

<h3>Logowanie</h3>

<div>
    <input placeholder="Login" @bind="model.Username" />
</div>

<div>
    <input type="password" placeholder="Hasło" @bind="model.Password" />
</div>

<button @onclick="Submit">Zaloguj</button>

@if (!string.IsNullOrEmpty(message))
{
    <p>@message</p>
}

@code {
    LoginRequest model = new();
    string message = "";

    async Task Submit()
    {
        var result = await Auth.Login(model);
        message = result.Message;

        if (result.Success)
        {
            await Task.Delay(300);
            Nav.NavigateTo("/");
        }
    }
}
