@page "/register"
@inject IAuthService Auth
@inject NavigationManager Nav

<h3>Rejestracja</h3>

<div>
    <input placeholder="Login" @bind="model.Username" />
</div>

<div>
    <input placeholder="Email" @bind="model.Email" />
</div>

<div>
    <input type="password" placeholder="Hasło" @bind="model.Password" />
</div>

<button @onclick="Submit">Zarejestruj</button>

@if (!string.IsNullOrEmpty(message))
{
    <p>@message</p>
}

@code {
    RegisterRequest model = new();
    string message = "";

    async Task Submit()
    {
        var result = await Auth.Register(model);
        message = result.Message;

        if (result.Success)
        {
            await Task.Delay(500);
            Nav.NavigateTo("/login");
        }
    }
}
